body {
  position: relative;
  overflow-x: hidden;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}
.container {
  max-width: 1440px;
  padding: 2rem;
  margin: 0 auto;
  background-color: cadetblue;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
button {
  padding: 0;
  cursor: pointer;
  border: none;
  background-color: transparent;
}
a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
h1,
h2,
h3,
p {
  margin: 0;
}
.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  max-width: 1440px;
}
.header__container {
  margin: 20px 10px 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.menu__list {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.about {
  margin: 120px 10px 20px;
}
.about__container {
  margin: 20px 0 20px;
  display: flex;
  flex-direction: row;
  gap: 100px;
}
.project {
  max-width: 570px;
  height: 450px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  background-color: lightgrey;
}
