@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap');
@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}
body {
  font-family: 'Open Sans', sans-serif;
  position: relative;
  overflow-x: hidden;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}
.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 2rem;
  background-color: #92a2b8;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
button {
  padding: 0;
  cursor: pointer;
  border: none;
  background-color: transparent;
}
a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  color: rgb(109, 38, 241);
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
h1,
h2,
h3,
p {
  margin: 0;
}
.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 6;
  max-width: 1440px;
  background-color: #92a2b8;
}
.header__container {
  margin: 2rem 2rem 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.description {
  font-size: 24px;
}

.menu__list {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.menu__link {
  font-size: 20px;
}
.animation__wrapper {
  overflow: hidden;
  opacity: 1;
}
.animation__container {
  margin-top: 100px;
  width: 100%;
  height: 800px;
  position: relative;
  overflow: hidden;
  background: url('/img/ground1.png') center/cover;
  border: 1px solid rgb(109, 38, 241);
  box-shadow: 1px 1px 10px 1px rgb(109, 38, 241);
}
.cloud {
  z-index: 5;
  width: 404px;
  height: 251px;
}
.cloud-1 {
  background: url('/img/cloud1.png') center/cover;
  position: absolute;
  right: 40%;
  top: -14px;
  animation: cloud1 2s 1;
}
.cloud-2 {
  background: url('/img/cloud2.png') center/cover;
  position: absolute;
  left: 15%;
  top: -40px;
  animation: cloud2 1.5s 1;
}
.cloud-3 {
  background: url('/img/cloud3.png') center/cover;
  position: absolute;
  right: 18%;
  top: -40px;
  animation: cloud3 1.5s 1;
}
@keyframes cloud1 {
  0% {
    top: -14px;
    right: 1%;
  }

  100% {
    top: -14px;
    right: 40%;
  }
}
@keyframes cloud2 {
  0% {
    top: -40px;
    left: -30%;
  }

  100% {
    top: -40px;
    left: 15%;
  }
}
@keyframes cloud3 {
  0% {
    top: -40px;
    right: 1%;
  }

  100% {
    top: -40x;
    right: 18%;
  }
}
.drop {
  z-index: 3;
  position: absolute;
  right: 228px;
  top: -100px;
  width: 70px;
  height: 70px;
  background-color: rgba(189, 235, 241, 0.199);
  border-radius: 0 35px 35px 35px;
  transform: rotate(45deg) skewY(0deg);
  box-shadow: inset 10px 10px 10px rgba(0, 0, 0, 0.05),
    15px 25px 10px rgba(0, 0, 0, 0.1), 15px 20px 20px rgba(0, 0, 0, 0.05),
    inset -10px -10px 15px rgba(189, 235, 241, 0.473);
}
.drop > p {
  transform: rotate(45deg);
  margin-right: -50px;
  margin-top: 50px;
}
.drop-1 {
  position: absolute;
  left: 65%;
  animation: drop 2s 1 4.5s;
}
.drop-2 {
  position: absolute;
  left: 60%;
  animation: drop 3.5s 1 6s;
}
.drop-3 {
  position: absolute;
  left: 55%;
  animation: drop 3s 1 5s;
}
.drop-4 {
  position: absolute;
  left: 50%;
  animation: drop 3.5s 1 5s;
}
.drop-5 {
  position: absolute;
  left: 45%;
  animation: drop 3s 1 5.5s;
}
.drop-6 {
  position: absolute;
  left: 40%;
  animation: drop 3.5s 1 6s;
}
.drop-7 {
  position: absolute;
  left: 35%;
  animation: drop 3.5s 1 5.5s;
}
.drop-8 {
  position: absolute;
  left: 30%;
  animation: drop 4s 1 6s;
}
.drop-9 {
  position: absolute;
  left: 25%;
  animation: drop 3s 1 6s;
}
.drop-10 {
  position: absolute;
  left: 20%;
  animation: drop 2s 1 5s;
}
@keyframes drop {
  0% {
    top: 1px;
    border-radius: 5px 35px 35px 35px;
  }

  100% {
    top: calc(100% - 40px);
    border-radius: 10px 35px 35px 35px;
  }
}
.lightning {
  position: absolute;
  right: 50%;
  top: 150px;
}
.lightning1 {
  position: absolute;
  right: 30%;
  top: 150px;
}
path {
  stroke-width: 6;
  stroke: rgb(140, 130, 197);
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: lightning 0.5s 2 linear 2s;
}

@keyframes lightning {
  100% {
    stroke-dashoffset: 0;
  }
}
.glow {
  width: 50px;
  background-color: rgb(140, 130, 197);
  opacity: 0;
  height: 200px;
  border-radius: 25px;
  position: absolute;
  right: 45%;
  top: 120px;
  animation: shadow 1s 2 1.8s;
}
.glow-2 {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  right: 47%;
  top: 130px;
}
@keyframes shadow {
  0% {
    opacity: 0;
    box-shadow: 0px 0px 20px 10px rgb(140, 130, 197);
  }
  100% {
    opacity: 0.5;
    box-shadow: 0px 0px 100px 100px rgb(140, 130, 197);
  }
}
.ground {
  position: relative;
}
.link__draft {
  display: block;
  width: 30px;
  height: 30px;
}
.robot1 {
  z-index: 2;
  width: 90px;
  height: 167px;
  background: url('/img/robot.png') center/cover;
  position: absolute;
  right: 105%;
  top: 500px;
  animation: robot1 8s forwards;
}
.cube1 {
  z-index: 1;
  position: absolute;
  width: 45px;
  height: 45px;
  background: radial-gradient(#4b6d34, #36261d);
  right: 103%;
  top: 622px;
  animation: cube1 4s forwards, cactus1 0.5s 8s forwards;
}
.link__project1 {
  opacity: 0;
  width: 25px;
  height: 25px;
  background: url('/img/flower1.png') center/cover;
  animation: link1 2s 10s forwards;
}
@keyframes link1 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: scale(2);
  }
}
.link__project2 {
  opacity: 0;
  width: 25px;
  height: 25px;
  background: url('/img/flower2.png') center/cover;
  animation: link2 2s 10s forwards;
}
@keyframes link2 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: scale(3);
  }
}
.link__project3 {
  opacity: 0;
  width: 25px;
  height: 25px;
  background: url('/img/flower3.png') center/cover;
  animation: link3 2s 10s forwards;
}
@keyframes link3 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: scale(1.7);
  }
}
@keyframes robot1 {
  50% {
    top: 500px;
    right: 55%;
  }
  100% {
    top: 500px;
    right: 105%;
  }
}
@keyframes cube1 {
  0% {
    top: 622px;
    right: 103%;
    background: radial-gradient(#4b6d34, #36261d);
  }
  100% {
    top: 622px;
    right: 53%;
    transform: rotate(360deg);
  }
}
@keyframes cactus1 {
  0% {
    background: radial-gradient(#4b6d34, #36261d);
  }
  100% {
    transform: scale(2);
    background: url('/img/cactus.png') center/cover;
  }
}
.robot2 {
  z-index: 3;
  width: 130px;
  height: 250px;
  background: url('/img/robot2.png') center/cover;
  position: absolute;
  right: -10%;
  top: 530px;
  animation: robot2 8s 1 forwards;
}
.cube2 {
  z-index: 2;
  position: absolute;
  width: 75px;
  height: 75px;
  background: radial-gradient(#4b6d34, #36261d);
  right: -3%;
  top: 705px;
  animation: cube2 4s 1 forwards, cactus1 0.5s 7s forwards;
}
@keyframes robot2 {
  50% {
    top: 530px;
    right: 25%;
  }
  100% {
    top: 530px;
    right: -10%;
  }
}
@keyframes cube2 {
  0% {
    top: 705px;
    right: -3%;
  }
  100% {
    top: 705px;
    right: 32%;
    transform: rotate(-360deg);
  }
}
.robot3 {
  z-index: 2;
  width: 46px;
  height: 84px;
  background: url('/img/robot2.png') center/cover;
  position: absolute;
  right: -10%;
  top: 490px;
  animation: robot3 8s 1 forwards;
}
.cube3 {
  z-index: 1;
  position: absolute;
  width: 45px;
  height: 45px;
  background: radial-gradient(#4b6d34, #36261d);
  right: -7%;
  top: 531px;
  animation: cube3 4s 1 forwards, cactus1 0.5s 9s forwards;
}
@keyframes robot3 {
  50% {
    top: 490px;
    right: 45%;
  }
  100% {
    top: 490px;
    right: -10%;
  }
}
@keyframes cube3 {
  0% {
    top: 531px;
    right: -7%;
  }
  100% {
    top: 531px;
    right: 48%;
    transform: rotate(-360deg);
  }
}
.presentation {
  padding: 30px 0 70px;
  margin: 30px auto 30px;
  border: 1px solid rgb(109, 38, 241);
  box-shadow: 1px 1px 10px 1px rgb(109, 38, 241);
}

.presentation__wrapper {
  max-width: 1204px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.presentation__title,
.contacts__title {
  font-size: 32px;
}
.btn {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: flex-end;
}
.projects {
  width: 1204px;
  height: 620px;
  margin: 30px auto;
  overflow: hidden;
}
.project__slider {
  width: 4816px;
  height: 570px;
  display: flex;
  position: relative;
  left: 0;
  transition: all ease 1s;
}
.project {
  width: 602px;
  height: 570px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 0.5rem;
  background-color: lightgrey;
  border: 1px solid rgb(109, 38, 241);
  box-shadow: 1px 1px 10px 1px rgb(109, 38, 241);
}
.project__photo {
  border-radius: 0.5rem;
  min-width: 100%;
  height: 70%;
  flex-shrink: 0;
}
.project__link {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.link__github {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.link__github > p {
  font-size: 20px;
}
.about {
  border: 1px solid rgb(109, 38, 241);
  box-shadow: 1px 1px 10px 1px rgb(109, 38, 241);
  padding: 4rem 4rem 2rem;
}
.about__container {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  gap: 100px;
  justify-content: center;
}
.about__title {
  padding: 40px 0;
}
.about__description {
  width: 30%;
}
.skill__block {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 20px;
}
.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.skill:hover {
  transform: scale(1.5);
  cursor: pointer;
  color: rgb(109, 38, 241);
  box-shadow: 1px 1px 10px 1px rgb(109, 38, 241);
}
.contacts {
  margin-top: 30px;
  border: 1px solid rgb(109, 38, 241);
  box-shadow: 1px 1px 10px 1px rgb(109, 38, 241);
  padding: 4rem 4rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.contacts__block {
  display: flex;
  flex-direction: row;
  gap: 140px;
}
.social,
.phone {
  max-width: 240px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}
.social__icons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.contacts__text {
  font-size: 20px;
}
.contacts__text > p {
  font-size: 20px;
  font-weight: bold;
  padding-top: 20px;
}
.footer__copyright {
  margin: 4rem 4rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.footer__copyright > p {
  font-size: 20px;
}
.icon:hover {
  color: rgb(109, 38, 241);
  box-shadow: 1px 1px 10px 1px rgb(109, 38, 241);
}
@media (width<=720px) {
  h1 {
    font-size: 1rem;
  }
  .container {
    max-width: 375px;
    margin: 0 auto;
    padding: 0 15px;
  }

  .header {
    max-width: 375px;
  }
  .header__container {
    margin: 1.5rem 0.5rem 0.5rem;
  }
  .description {
    font-size: 18px;
  }

  .menu__list {
    gap: 14px;
  }
  .menu__link {
    font-size: 18px;
  }
  .presentation {
    margin: 60px auto 30px;
  }
  .presentation__wrapper {
    max-width: 365px;
  }
  .projects {
    width: 365px;
  }
  .project__slider {
    width: 2920px;
  }
  .project {
    width: 365px;
  }
  .about {
    margin: 1rem 1rem 1rem;
  }
  .about__container {
    flex-direction: column;
  }
  .about__description {
    width: 99%;
  }
}
