@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap');
@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}
body {
  font-family: 'Open Sans', sans-serif;
  position: relative;
  overflow-x: hidden;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}
.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 2rem;
  background-color: #989b9a;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
button {
  padding: 0;
  cursor: pointer;
  border: none;
  background-color: transparent;
}
a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  color: rgb(109, 38, 241);
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
h1,
h2,
h3,
p {
  margin: 0;
}
.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3;
  max-width: 1440px;
  background-color: #989b9a;
}
.header__container {
  margin: 2rem 2rem 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.description {
  font-size: 24px;
}

.menu__list {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.menu__link {
  font-size: 20px;
}
.animation__wrapper {
  overflow: hidden;
  opacity: 1;
}
.animation__container {
  margin-top: 100px;
  width: 100%;
  height: 800px;
  position: relative;
  overflow: hidden;
  background: url('/img/ground.png') center/cover;
}
.cloud {
  z-index: 2;
  width: 404px;
  height: 251px;
}
.cloud-1 {
  background: url('/img/cloud1.png') center/cover;
  position: absolute;
  right: 40%;
  top: -14px;
  animation: cloud1 2s 1;
}
.cloud-2 {
  background: url('/img/cloud2.png') center/cover;
  position: absolute;
  left: 15%;
  top: -40px;
  animation: cloud2 1.5s 1;
}
.cloud-3 {
  background: url('/img/cloud3.png') center/cover;
  position: absolute;
  right: 18%;
  top: -40px;
  animation: cloud3 1.5s 1;
}
@-webkit-keyframes cloud1 {
  0% {
    top: -14px;
    right: 1%;
  }

  100% {
    top: -14px;
    right: 40%;
  }
}
@-webkit-keyframes cloud2 {
  0% {
    top: -40px;
    left: -30%;
  }

  100% {
    top: -40px;
    left: 15%;
  }
}
@-webkit-keyframes cloud3 {
  0% {
    top: -40px;
    right: 1%;
  }

  100% {
    top: -40x;
    right: 18%;
  }
}
.drop {
  z-index: 1;
  position: absolute;
  right: 228px;
  top: -100px;
  width: 70px;
  height: 70px;
  background-color: rgba(166, 182, 190, 0.3);
  border-radius: 0 35px 35px 35px;
  transform: rotate(45deg) skewY(0deg);
  box-shadow: inset 10px 10px 10px rgba(0, 0, 0, 0.05),
    15px 25px 10px rgba(0, 0, 0, 0.1), 15px 20px 20px rgba(0, 0, 0, 0.05),
    inset -10px -10px 15px rgba(255, 255, 255, 0.9);
}
.drop > p {
  transform: rotate(45deg);
  margin-right: -50px;
  margin-top: 50px;
}
.drop-1 {
  position: absolute;
  left: 65%;
  animation: drop 2s 1 0.5s;
}
.drop-2 {
  position: absolute;
  left: 60%;
  animation: drop 3.5s 1 2s;
}
.drop-3 {
  position: absolute;
  left: 55%;
  animation: drop 3s 1 1s;
}
.drop-4 {
  position: absolute;
  left: 50%;
  animation: drop 3.5s 1 1s;
}
.drop-5 {
  position: absolute;
  left: 45%;
  animation: drop 3s 1 1.5s;
}
.drop-6 {
  position: absolute;
  left: 40%;
  animation: drop 3.5s 1 2s;
}
.drop-7 {
  position: absolute;
  left: 35%;
  animation: drop 3.5s 1 1.5s;
}
.drop-8 {
  position: absolute;
  left: 30%;
  animation: drop 4s 1 2s;
}
.drop-9 {
  position: absolute;
  left: 25%;
  animation: drop 3s 1 2s;
}
.drop-10 {
  position: absolute;
  left: 20%;
  animation: drop 2s 1 1s;
}
@-webkit-keyframes drop {
  0% {
    top: 1px;
    border-radius: 5px 35px 35px 35px;
  }

  100% {
    top: calc(100% - 40px);
    border-radius: 10px 35px 35px 35px;
  }
}
.lightning {
  position: absolute;
  right: 50%;
  top: 150px;
}
.lightning1 {
  position: absolute;
  right: 30%;
  top: 150px;
}
path {
  stroke-width: 6;
  stroke: rgb(253, 248, 176);
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: lightning 0.5s linear 2s;
}

@-webkit-keyframes lightning {
  100% {
    stroke-dashoffset: 0;
  }
}
.glow {
  width: 100px;
  background-color: rgb(253, 248, 176);
  opacity: 0;
  height: 100px;
  border-radius: 50px;
  position: absolute;
  right: 45%;
  top: 160px;
  animation: shadow 1s 1 1.8s;
}
.glow-2 {
  width: 150px;
  height: 150px;
  border-radius: 75px;
  right: 47%;
  top: 170px;
}
@keyframes shadow {
  0% {
    opacity: 0;
    box-shadow: 0px 0px 20px 10px rgba(253, 248, 176);
  }
  100% {
    opacity: 0.5;
    box-shadow: 0px 0px 30px 60px rgba(253, 248, 176);
  }
}

.presentation {
  margin: 60px auto 100px;
}
.presentation__wrapper {
  max-width: 1204px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.presentation__title,
.contacts__title {
  font-size: 32px;
}
.btn {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: flex-end;
}
.projects {
  width: 1204px;
  height: 620px;
  margin: 30px auto;
  overflow: hidden;
}
.project__slider {
  width: 4816px;
  height: 570px;
  display: flex;
  position: relative;
  left: 0;
  transition: all ease 1s;
}
.project {
  width: 570px;
  height: 570px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 0.5rem;
  background-color: lightgrey;
}
.project__photo {
  border-radius: 0.5rem;
  min-width: 100%;
  height: 70%;
  flex-shrink: 0;
}
.project__link {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.link__github {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.link__github > p {
  font-size: 20px;
}
.about {
  margin: 4rem 4rem 2rem;
}
.about__container {
  padding-top: 40px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  gap: 100px;
  justify-content: center;
}
.about__title {
  padding: 40px 0;
}
.about__description {
  width: 30%;
}
.skill__block {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 20px;
}
.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.contacts {
  margin: 4rem 4rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.contacts__title {
  padding-top: 40px;
}
.contacts__block {
  display: flex;
  flex-direction: row;
  gap: 140px;
}
.social,
.phone {
  max-width: 240px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}
.social__icons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.contacts__text {
  font-size: 20px;
}
.contacts__text > p {
  font-size: 20px;
  font-weight: bold;
  padding-top: 20px;
}
.footer__copyright {
  margin: 4rem 4rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.footer__copyright > p {
  font-size: 20px;
}
.animation__palm {
  width: 30px;
  height: 100px;
  position: absolute;
  bottom: -100px;
  margin-left: 300px;
  z-index: 7;
  background: url('/img/palm.png') center/cover;
  animation: growth 7s 4s forwards;
}
@-webkit-keyframes growth {
  0% {
    bottom: -100px;
  }

  100% {
    width: 318px;
    height: 600px;
  }
}
/* #fern {
  background: url('/img/fern9.svg');
  height: 99%;
  width: 344px;
  margin: 0 auto;
  z-index: 6;
  animation: sprite-animation 6s steps(9, start);
}

@keyframes sprite-animation {
  0% {
    opacity: 0;
    background-position: 0 0;
  }
  10% {
    opacity: 1;
    background-position: 0 0;
  }
  100% {
    background-position: -3100px 0;
  }
} */
